body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.section {
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group > * {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
label {
  margin-bottom: 5px;
}
input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.create-game-button {
  background-color: #4caf50;
  color: white;
}

.end-game-button-enabled {
  margin-top: 20px;
  background-color: #f44336; 
  color: white;
}

.end-game-button-disabled {
  margin-top: 20px;
  background-color: #ccc; /* Red color for end game */
  color: gray;
}

table {
  border-collapse: collapse;
  width: 50%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.hidden {
  display: none;
}
