<!DOCTYPE html>
<html>

<head>
    <title>Multiplayer Game</title>
    <link rel="stylesheet" href="/res/player.css">
</head>

<body>
    <div class="container">
        <div id="game-id-input">
            <h2>Join Game</h2>
            <div><input type="text" id="game-id" placeholder="Game ID"></div>
            <div><input type="text" id="player-name" placeholder="Your Name"></div>
            <button type="button" id="connect-button">Connect</button>
        </div>
        <div id="waiting-screen" style="display: none;">
            <h2 class="waiting-screen">Waiting for game to start...</h2>
        </div>
        <div id="question-container" class="question-container" style="display: none;">
            <div class="score">Score: <span id="player-score">0</span></div> <div class="question-content">
              <h2>Question:</h2>
              <p id="question-text"></p>
              <div class="options">
                <label class="option">
                  <input type="radio" name="answer" id="option-a" value="A">
                  <div id="option-a-text"></div>
                </label>
                <label class="option">
                  <input type="radio" name="answer" id="option-b" value="B">
                  <div id="option-b-text"></div>
                </label>
                <label class="option">
                  <input type="radio" name="answer" id="option-c" value="C">
                  <div id="option-c-text"></div>
                </label>
                <label class="option">
                  <input type="radio" name="answer" id="option-d" value="D">
                  <div id="option-d-text"></div>
                </label>
              </div>
              <button type="button" id="submit-answer">Submit Answer</button>
            </div>
          </div>
    </div>
    <script src="./scripts/player.js"></script>
</body>

</html>